.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

table {
  width: 60%;
  border-collapse: collapse;
}

.title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.title img {
  width: 60px;
  height: 60px;
}

td, th {
  border: 1px solid black;
  text-align: center;
}

.filter {
  width: 60%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.filter input {
  width: 50%;
}

.new-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.delete-button {
  cursor: pointer;
}

.delete-button:hover {
  text-decoration: underline;
}
